@tailwind base;
@tailwind components;
@tailwind utilities;


.ripple{
   height: wrap-content;
   width : wrap-content;
}

.ripple::before{
   content: "";
   position: absolute;
   inset: 0px;
   top: -2px;
   left: -1px;
   width: 0%;
   height: 0%;
   border-radius: 999px;
   z-index: -1;
   background: linear-gradient(30deg,#ff7e5f,#feb47b);
   animation: ripple_animation 0.35s ease-in 1;
}


@keyframes ripple_animation{
   0%{
      width: 0%;
      height: 0%;
   }100%{
      width: 120%;
      height: 120%;
   }
}



