@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face{
   font-family : "logo";
   src : url("./fonts/DancingScript-Bold.ttf") format('truetype');
}

*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

.logoFont{
   font-family: 'logo';
   font-weight: 700 !important;
   font-style: normal;
}


.gradient_border{
   position: relative;
}

.gradient_border::after{
   content: "";
   position: absolute;
   left: 0;
   bottom: 0;
   width: 100%;
   height: 1.2px;
   background: #bf60ee;
   animation: border_animate 3s linear infinite;
}


@keyframes border_animate{
   0%{
     background: #cc1de9;
   }50%{
      background: #e366c0
   }75%{
      background: #e83d63;
   }100%{
      background: #bf60ee;
   }
}

.blur_effect{
   position: fixed;
}

.blur_effect::before{
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   backdrop-filter: blur(9px);
   background: rgba(113,112,112,0.450);
   z-index: -1;
}

.blur_effect_two{
   position: fixed;
}

.blur_effect_two::before{
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   backdrop-filter: blur(9px);
   background: rgba(113,112,112,0.250);
   z-index: -1;
   border-bottom-right-radius: 9px;
   border-bottom-left-radius: 9px;
}

.divider{
   position: relative;
}

.divider::before{
   content: "";
   position: absolute;
   right: -12px;
   top: 0;
   bottom: 0;
   height: 80%;
   width: 2px;
   background: #d4d4d4b5;
   align-self: center;
}

.scrollBar::-webkit-scrollbar{
   display: none;
}
